@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 50px;
}

.sidebar a {
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}


section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  height: 100%;
  transition: all .5s;
  padding-left: 200px;
  padding-right: 50px;
  padding-top: 90px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #313131;
  padding: 8px;
}

table tr:nth-child(even){background-color: white;}
/*
table tr:hover {background-color: #d34c13;}
*/
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #313131;
  color: white;
}